/* Empty. Add your own CSS if you like */
.ionic.ionic-example .bar {
    position: relative; }

.col-demo {
    padding: 5px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #f7f7f7;
    text-align: center;
}

.box {
    height: 300px;
    padding-top: 115px;
}