<ion-view view-title="Outlined Buttons">
    <ion-content padding="true">
        <p>
            <button class="button button-outline button-light">
                button-light
            </button>
        </p>
        <p>
            <button class="button button-outline button-stable">
                button-stable
            </button>
        </p>
        <p>
            <button class="button button-outline button-positive">
                button-positive
            </button>
        </p>
        <p>
            <button class="button button-outline button-calm">
                button-calm
            </button>
        </p>
        <p>
            <button class="button button-outline button-balanced">
                button-balanced
            </button>
        </p>
        <p>
            <button class="button button-outline button-energized">
                button-energized
            </button>
        </p>
        <p>
            <button class="button button-outline button-assertive">
                button-assertive
            </button>
        </p>
        <p>
            <button class="button button-outline button-royal">
                button-royal
            </button>
        </p>
        <p>
            <button class="button button-outline button-dark">
                button-dark
            </button>
        </p>
    </ion-content>
</ion-view>