<style>
    .button-bar {
        margin-bottom: 10px;
    }
</style>

<ion-view view-title="Button Bar">
    <ion-content padding="true">
        <div class="button-bar bar-light">
            <a class="button activated">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-stable">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-positive">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-calm">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-energized">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-balanced">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-assertive">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
        <div class="button-bar bar-royal">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>
    </ion-content>
</ion-view>