<ion-view view-title="Buttons">
    <ion-content padding="true">
        <p>
            <button class="button">
                Default
            </button>
        </p>

        <p>
            <button class="button button-light">
                button-light
            </button>
        </p>

        <p>
            <button class="button button-stable">
                button-stable
            </button>
        </p>

        <p>
            <button class="button button-positive">
                button-positive
            </button>
        </p>

        <p>
            <button class="button button-calm">
                button-calm
            </button>
        </p>

        <p>
            <button class="button button-balanced">
                button-balanced
            </button>
        </p>

        <p>
            <button class="button button-energized">
                button-energized
            </button>
        </p>

        <p>
            <button class="button button-assertive">
                button-assertive
            </button>
        </p>

        <p>
            <button class="button button-royal">
                button-royal
            </button>
        </p>

        <p>
            <button class="button button-dark">
                button-dark
            </button>
        </p>
    </ion-content>
</ion-view>