<ion-view view-title="Evenly Spaced Columns">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
        </div>
    </ion-content>
</ion-view>