<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar-stable">
            <h1 class="title">components</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <div class="item item-divider">
                    CSS
                </div>
                <ion-item menu-close href="#/app/header">
                    Header
                </ion-item>
                <ion-item menu-close href="#/app/sub-header">
                    Sub Header
                </ion-item>
                <ion-item menu-close href="#/app/content">
                    Content
                </ion-item>
                <ion-item menu-close href="#/app/footer">
                    Footer
                </ion-item>
                <ion-item menu-close href="#/app/buttons">
                    Buttons
                </ion-item>
                <ion-item menu-close href="#/app/block-buttons">
                    Block Buttons
                </ion-item>
                <ion-item menu-close href="#/app/buttons-full-width">
                    Full Width Block Buttons
                </ion-item>
                <ion-item menu-close href="#/app/buttons-different-sizes">
                    Different Sizes
                </ion-item>
                <ion-item menu-close href="#/app/buttons-outlined">
                    Outlined Buttons
                </ion-item>
                <ion-item menu-close href="#/app/buttons-clear">
                    Clear Buttons
                </ion-item>
                <ion-item menu-close href="#/app/buttons-icons">
                    Icon Buttons
                </ion-item>
                <ion-item menu-close href="#/app/buttons-headers">
                    Buttons in Headers
                </ion-item>
                <ion-item menu-close href="#/app/clear-buttons-headers">
                    Clear Buttons in Headers
                </ion-item>
                <ion-item menu-close href="#/app/button-bar">
                    Buttons Bar
                </ion-item>
                <ion-item menu-close href="#/app/list">
                    List
                </ion-item>
                <ion-item menu-close href="#/app/list-divider">
                    List Dividers
                </ion-item>
                <ion-item menu-close href="#/app/list-icons">
                    List Icons
                </ion-item>
                <ion-item menu-close href="#/app/list-buttons">
                    List Buttons
                </ion-item>
                <ion-item menu-close href="#/app/list-buttons">
                    List Buttons
                </ion-item>
                <ion-item menu-close href="#/app/item-avatars">
                    Item Avatars
                </ion-item>
                <ion-item menu-close href="#/app/item-thumbnails">
                    Item Thumbnails
                </ion-item>
                <ion-item menu-close href="#/app/inset-lists">
                    Inset Lists
                </ion-item>
                <ion-item menu-close href="#/app/cards">
                    Cards
                </ion-item>
                <ion-item menu-close href="#/app/card-headers-footers">
                    Card Header and Footers
                </ion-item>
                <ion-item menu-close href="#/app/card-lists">
                    Card Lists
                </ion-item>
                <ion-item menu-close href="#/app/card-images">
                    Card Images
                </ion-item>
                <ion-item menu-close href="#/app/card-showcase">
                    Card Showcase
                </ion-item>
                <ion-item menu-close href="#/app/input-placeholder-labels">
                    Placeholder Labels
                </ion-item>
                <ion-item menu-close href="#/app/input-inline-labels">
                    Inline Labels
                </ion-item>
                <ion-item menu-close href="#/app/input-stacked-labels">
                    Stacked Labels
                </ion-item>
                <ion-item menu-close href="#/app/input-floating-labels">
                    Floating Labels
                </ion-item>
                <ion-item menu-close href="#/app/inset-form">
                    Inset Form
                </ion-item>
                <ion-item menu-close href="#/app/inset-inputs">
                    Inset Inputs
                </ion-item>
                <ion-item menu-close href="#/app/input-icons">
                    Input Icons
                </ion-item>
                <ion-item menu-close href="#/app/header-inputs">
                    Header Inputs
                </ion-item>
                <div class="item item-divider">
                    JAVASCRIPT
                </div>
                <ion-item menu-close href="#/app/action-sheet">
                    Action Sheet
                </ion-item>
                <ion-item menu-close href="#/app/advance-list">
                    Advanced List
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
