<ion-view view-title="Offset Columns">
    <ion-content>
        <div class="row">
            <div class="col col-33 col-offset-33">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
        </div>

        <div class="row">
            <div class="col col-33">
                <div class="col-demo">.col</div>
            </div>
            <div class="col col-33 col-offset-33">
                <div class="col-demo">.col</div>
            </div>
        </div>

        <div class="row">
            <div class="col col-33 col-offset-67">
                <div class="col-demo">.col</div>
            </div>
        </div>
    </ion-content>
</ion-view>