<ion-view view-title="Popover">
    <ion-content padding="true">
        <button class="button button-positive" ng-click="openPopover($event)">Open Popover</button>
    </ion-content>

    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view>
            <ion-header-bar>
                <h1 class="title">My Popover Title</h1>
            </ion-header-bar>
            <ion-content>
                Hello!
            </ion-content>
        </ion-popover-view>
    </script>
</ion-view>

