<ion-view view-title="Spinner">
    <ion-content>
       <ul class="list">
           <li class="item">
               android
               <ion-spinner icon="android"></ion-spinner>
           </li>
           <li class="item">
               ios
               <ion-spinner icon="ios"></ion-spinner>
           </li>
           <li class="item">
               ios-small
               <ion-spinner icon="ios-small"></ion-spinner>
           </li>
           <li class="item">
               bubbles
               <ion-spinner icon="bubbles"></ion-spinner>
           </li>
           <li class="item">
               circles
               <ion-spinner icon="circles"></ion-spinner>
           </li>
           <li class="item">
               crescent
               <ion-spinner icon="crescent"></ion-spinner>
           </li>
           <li class="item">
               dots
               <ion-spinner icon="dots"></ion-spinner>
           </li>
           <li class="item">
               lines
               <ion-spinner icon="lines"></ion-spinner>
           </li>
           <li class="item">
               ripple
               <ion-spinner icon="ripple"></ion-spinner>
           </li>
           <li class="item">
               spiral
               <ion-spinner icon="spiral"></ion-spinner>
           </li>
       </ul>
    </ion-content>
</ion-view>