<ion-view view-title="Vertically Aligned Columns">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">1<br>2<br>3<br>4</div>
            </div>
        </div>

        <div class="row">
            <div class="col col-top">
                <div class="col-demo">.col</div>
            </div>
            <div class="col col-center">
                <div class="col-demo">.col</div>
            </div>
            <div class="col col-bottom">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">1<br>2<br>3<br>4</div>
            </div>
        </div>

        <div class="row row-top">
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">1<br>2<br>3<br>4</div>
            </div>
        </div>

        <div class="row row-center">
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">1<br>2<br>3<br>4</div>
            </div>
        </div>

        <div class="row row-bottom">
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">.col</div>
            </div>
            <div class="col">
                <div class="col-demo">1<br>2<br>3<br>4</div>
            </div>
        </div>
    </ion-content>
</ion-view>